@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./../css/pages/chup-anh-san-pham.css";
@import "../public/libs/swiper/swiper-bundle.min.css";
@import "../public/libs/lightgallery-new/lightgallery.min.css";

@import "./../css/root/root.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
